<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        </head>
        <style type="text/css" media="screen">
            .centered {
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
            }
        </style>

        <body>
            <div class="container">
                <h1 class="text-center">Luiza Labs</h1>
                <form id="luizalabs-form" action="/api/person/" method="POST" class="form-group centered" role="form">
                {% csrf_token %}
                    <div class="form-group">
                    <label>Facebok ID</label>
                    </div>
                    {{form.facebook_id}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
</body>
</html>