<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        </head>
        <style type="text/css" media="screen">
            .centered {
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: center;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
            }
        </style>

        <body>
            <div class="container">
                <h1 class="text-center">Luiza Labs</h1>
                <form id="luizalabs-form" action="/api/person/" method="POST" class="form-group centered" role="form">
                {% csrf_token %}
                    <div class="form-group">
                    <label>Facebok ID</label>
                    <span class="label">Label</span>
                    </div>
                    {{form.facebook_id}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <span id="result" class="col-md-6 col-md-offset-3" style="display: none; margin-top: 20px;">
                            <p class='alert alert-success' style='text-align: center;'><b>Mensagem enviada com sucesso!</b></p>
                        </span>
                    <span id="result1" class="col-md-6 col-md-offset-3" style="display: none; margin-top: 10px;">
                            <p class='alert alert-info' style='text-align: center;'><b>Aguarde...</b></p>
                        </span>
                </form>
            </div>
            <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</body>
</html>